/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v20-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v20-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
	max-width: 100%;
  font: 16px 'Roboto', sans-serif;
  background-color: #fbfbfb;
}

img {
  max-width: 100%;
  height: auto;
	object-fit: contain;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin-top: 0;
}

.container {
	max-width: 1250px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 40px;
}

.relative {
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-top: 30px;
	background-color: #fbfbfb;
}

.toggle-menu {
	display: none;
}

.menu {
	flex-grow: 1;
	margin-top: 15px;
}

.menu__item {
	list-style: none;
}

.menu__item a {
	font: 16px 'Roboto', sans-serif;
	color: #1f1f24;
	margin-right: 30px;
}

.menu__item a:hover {
	border-bottom: 1px solid #1f1f24;
}

.menu__item .menu__item_underline {
	color: #fc557c;
	border-bottom: 1px solid #fc557c;
}

.menu__item .menu__item_underline:hover {
	border: 0;
}

.menu__list {
	display: flex;
	margin: 0;
	padding: 0;
}

.header__tel {
	font: 700 25px 'Roboto', sans-serif;
	color: #1f1f24;
	margin-right: 30px;
	margin-top: 8px;
	flex-grow: 1;
	text-align: right;
}

.сallback {
	width: 207px;
	height: 45px;
	padding: 0;
	color: #f53f4f;
	background-color: transparent;
	border: 1px solid #f82370;
	font: 16px 'Roboto', sans-serif;
	cursor: pointer;
}

.сallback-footer {
	width: 248px;
	height: 45px;
	padding: 0;
	margin-bottom: 30px;
	color: #ff6375;
	background-color: transparent;
	border: 1px solid #ff5e79;
	font: 16px 'Roboto', sans-serif;
	cursor: pointer;
}

.avatar {
	padding: 170px 0 235px;
	background: url('../img/bg-header.png') bottom right #fbfbfb no-repeat;
	background-size: 813px 629px;
	max-width: 1920px;
	margin: 0 auto;
}

.avatar__info-wrap h1 {
	font: 900 80px 'Roboto', sans-serif;
	color: #1f1f24;
	margin: 10px 0 20px;
}

.avatar__info-wrap p {
	font: 25px 'Roboto', sans-serif;
	color: #8993ad;
	margin: 0 0 45px;
}

.button-orange {
	width: 270px;
	height: 60px;
	padding: 0;
	margin: 0;
	background-color: #ff4e2e;
	border: 0;
	cursor: pointer;
	font: 18px 'Roboto', sans-serif;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-center {
	margin: 0 auto;
}

.avatar img {
	position: absolute;
	bottom: -235px;
	right: 0;
}

.price {
	background-image: linear-gradient(15deg, #ff8f5a, #ff8f5a90, #ff2f96, #ff2f96);
	background-color: #ff8f5a;
	padding: 75px 0 80px;
	margin: 0 auto;
}

.price__wrap {
	display: flex;
	flex-direction: column;
	max-width: 945px;
	margin: 0 auto;
}

.price__title {
	font: 700 45px/60px 'Roboto', sans-serif;
	color: #fff;
	margin: 0;
	margin-bottom: 30px;
}

.price__description {
	font: 18px/30px 'Roboto', sans-serif;
	color: #fff;
	margin: 0;
	margin-left: 15px;
	position: relative;
	max-width: 750px;
}

.price__description span {
	position: absolute;
	left: -15px;
	top: -2px;
	font-size: 20px;
}

.doing-and-work {
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	padding-top: 90px;
	text-align: center;
	background-color: #ffffff;
	margin: 0;
	max-width: 100%;
}

.properties {
	background-color: #fbfbfb;
	max-width: 1250px;
	margin: 0 auto;
}

.doing-and-work h2 {
	font: 700 54px 'Roboto', sans-serif;
	margin: 0;
	margin-bottom: 85px;
}

.properties h2 {
	margin-bottom: 100px;
}

.item__wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto 95px;
}

.item__work {
	overflow: auto;
}

.wrap-slider {
	position: relative;
}

.doing__item:first-child {
	background: url('../img/icons/layout.png') center top no-repeat;
	background-size: 80px 74px;
	margin-right: 20px;
	flex-basis: 260px;
}

.doing__item:nth-child(2) {
	background: url('../img/icons/responsive.png') center top no-repeat;
	background-size: 79px 74px;
	margin-right: 20px;
	flex-basis: 280px;
}

.doing__item:nth-child(3) {
	background: url('../img/icons/programming.png') center top no-repeat;
	background-size: 74px 74px;
	margin-right: 20px;
	flex-basis: 210px;
}

.doing__item:last-child {
	background: url('../img/icons/coding.png') center top no-repeat;
	background-size: 74px 74px;
	flex-basis: 250px;
}

.doing__item {
	font: 20px/30px 'Roboto', sans-serif;
	color: #8993ad;
	margin: 0;
	padding-top: 90px;
}

.work__item:not(:nth-child(3)) {
	margin-right: 30px;
}

.work__item img {
	margin-bottom: 30px;
	min-width: 370px;
}

.work__item p {
	font: 500 20px 'Roboto', sans-serif;
	color: #8993ad;
	margin: 0;
}

.arrow {
	background: url('../img/icons/arrow.png') no-repeat;
	background-size: 61px 60px;
	width: 61px;
	height: 60px;
	position: absolute;
	border: 0;
}

.arrow-left {
	top: 26%;
	left: -30px;
	filter: drop-shadow(2px 2px 4px #00000080);
}

.arrow-right {
	top: 26%;
	right: -30px;
	filter: drop-shadow(2px -2px 4px #00000080);
	transform: rotate(180deg);
}

.links a {
	font: 18px/34px 'Roboto', sans-serif;
	color: #8993ad;
}

.links a:hover {
	border-bottom: 1px solid #8993ad;
}

.email {
	font-style: normal;
	margin-left: 100px;
}

.email a {
	font: 25px 'Roboto', sans-serif;
	color: #000000;
}

.email li, .social li {
	list-style: none;
}

.email li:first-child {
	margin-bottom: 30px;
}

.email ul {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.footer__call {
	background: url('../img/icons/call.png') left center no-repeat;
	background-size: 18px 18px;
	padding-left: 37px;
}

.footer__mail {
	background: url('../img/icons/envelope.png') left 60% no-repeat;
	background-size: 23px 15px;
	padding-left: 44px;
}

.social {
	margin-right: 20px;
}

.social ul {
	display: flex;
}

.social li:not(:last-child) {
	margin-right: 20px;
}

.social__vk {
	width: 35px;
	height: 28px;
	background: url('../img/icons/social.png') no-repeat;
	background-position: 0 50%;
	display: -webkit-box;
}

.social__fb {
	width: 35px;
	height: 28px;
	background: url('../img/icons/social.png') no-repeat;
	background-position: 35% 50%;
	display: -webkit-box;
}

.social__tw {
	width: 35px;
	height: 28px;
	background: url('../img/icons/social.png') no-repeat;
	background-position: 67% 50%;
	display: -webkit-box;
}

.social__ins {
	width: 35px;
	height: 28px;
	background: url('../img/icons/social.png') no-repeat;
	background-position: 100% 50%;
	display: -webkit-box;
}

.copyright {
	flex-basis: 100%;
	font: 16px 'Roboto', sans-serif;
	color: #ffffff;
	padding: 30px;
	background-color: #31293c;
	text-align: center;
	margin: 0;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 75px;
	padding-bottom: 85px;
}

/* Адаптивная верстка */
@media (max-width: 1024px) {
	body {
		min-width: 320px;
	}
	.container {
		margin: 0;
	}
	.header {
		margin-bottom: 40px;
		margin-top: 30px;
	}
	.menu {
		display: none;
	}
	.toggle-menu {
		background: url('../img/icons/toggle-menu.png') left top no-repeat;
		background-size: 45px 32px;
		width: 45px;
		height: 32px;
		margin-top: 5px;
		display: flex;
		flex-direction: column;
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}
	.button-orange {
		font-weight: 500;
		width: 320px;
    height: 68px;
	}
	.avatar {
		background-position: 480px bottom;
    background-size: 813px 525px;
	}
	.avatar__info-wrap h1 {
		font-size: 54px;
		margin-top: 20px;
	}
	.avatar img {
		right: 0;
		padding-right: 40px;
	}
	.avatar__info-wrap {
		max-width: 60%;
	}
	.price {
		padding: 75px 40px 80px;
	}
	.price__wrap {
    margin: 0;
	}
	.item__wrap {
		justify-content: space-between;
		flex-wrap: wrap;
    max-width: 670px;
    margin: 0 auto 95px;
	}
	.item__work {
		flex-wrap: nowrap;
		justify-content: space-between;
		max-width: 100%;
	}
	.doing__item:first-child {
    margin-bottom: 80px;
	}
	.doing__item:first-child, .doing__item:nth-child(2), 
	.doing__item:nth-child(3), .doing__item:last-child {
		margin-right: 0;
		flex-basis: 50%;
		text-align: -webkit-center;
	}
	.doing__item {
		max-width: 280px;
	}
	.social {
		margin-right: 0;
	}
	.arrow-left, .arrow-right {
		display: none;
	}
	.work__item:not(:nth-child(3)) {
    margin-right: 35px;
	}
	.work__item img {
		min-width: 455px;
		margin-bottom: 20px;
	}
	.work__item p {
		font-size: 25px;
	}
	.flex {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.email {
		margin-left: 120px;
    margin-right: 30px;
	}
	.links {
		margin-bottom: 30px;
	}
}

@media (max-width: 800px) {
	.avatar {
		background-position: -60px bottom;
    background-size: 125% 90%;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.relative {
		position: static;
		height: 0;
		display: flex;
		justify-content: center;
	}
	.avatar img {
		margin: 0 auto;
		padding: 0 40px;
		bottom: 0;
		right: 0;
		position: static;
	}
	.avatar__info-wrap {
		max-width: 100%;
		text-align: center;
		padding-top: 20px;
    padding-bottom: 50px;
	}
	.avatar__info-wrap h1 {
    margin-top: 10px;
	}
	.social {
		flex-basis: 100%;
	}
	.links {
		margin-bottom: 35px;
	}
	.email {
		margin: 0;
	}
}

@media (max-width: 610px) {
	.container {
		margin: 0 auto;
		padding: 0 20px;
	}
	.flex {
		padding-top: 35px;
    padding-bottom: 50px;
	}
	.header {
		margin-top: 25px;
		margin-bottom: 40px;
	}
	.toggle-menu {
		flex-grow: 0;
		width: 24px;
		height: 18px;
		background-size: 24px 18px;
	}
	.сallback {
		font-size: 0;
		border: 0;
		background: url('../img/icons/call-me.png') center no-repeat;
		background-size: 26px 26px;
		width: 26px;
    height: 26px;
		cursor: pointer;
	}
	.header__tel {
		font-size: 18px;
		margin-right: 0;
		margin-top: 3px;
		text-align: center;
	}
	.avatar__info-wrap {
		background-color: #fff;
	}
	.avatar__info-wrap h1 {
		margin: 0 0 10px;
		font-size: 42px;
	}
	.avatar__info-wrap p {
		margin: 0 0 25px;
		font-size: 20px;
	}
	.price {
    padding: 50px 40px;
	}
	.price__title {
		font-size: 28px;
		line-height: 40px;
	}
	.price__description {
		font-size: 15px;
	}
	.doing-and-work {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.doing-and-work h2 {
		font: 900 30px 'Roboto', sans-serif;
		margin-bottom: 45px;
	}
	.properties h2 {
    margin-bottom: 40px;
	}
	.item__wrap {
		flex-direction: column;
		align-items: center;
		max-width: 100%;
		margin: 0 auto 50px;
	}
	.item__work {
    flex-direction: row;
	}
	.doing__item:not(:last-child) {
		margin-bottom: 50px;
	}
	.doing__item {
		display: flex;
		justify-content: center;
	}
	.email ul {
    margin-top: 20px;
	}
	.email li:first-child {
		margin-bottom: 20px;
	}
	.email a {
    font: 500 20px 'Roboto', sans-serif;
    color: #8993ad;
	}
	.footer__call {
    background-size: 13px 13px;
    padding-left: 32px;
	}
	.footer__mail {
    background-size: 14px 10px;
    padding-left: 33px;
	}
	.fa-phone-alt {
    font-size: 14px;
	}
	.fa-envelope {
    font-size: 14px;
	}
	.сallback-footer {
		width: 280px;
    height: 55px;
    margin-bottom: 50px;
    background-color: #ff4e2e;
    border: 0;
    cursor: pointer;
    color: #ffffff;
	}
}

@media (max-width: 450px) {
	.header {
		margin-bottom: 80px;
	}
	.avatar {
		position: relative;
	}
	.avatar__info-wrap {
		padding: 15px 20px 0;
	}
	.avatar__info-wrap h1 {
    font-size: 30px;
	}
	.avatar__info-wrap p {
		font-size: 16px;
	}
	.button-orange {
		font-size: 16px;
    font-weight: 400;
    width: 280px;
		height: 55px;
		max-width: 100%;
	}
	.price {
    padding: 45px 20px;
	}
	.doing__item {
		font: 16px/24px 'Roboto', sans-serif;
		max-width: 250px;
		padding-top: 70px;
	}
	.doing__item:first-child, .doing__item:nth-child(2) {
    background-size: 61px 56px;
	}
	.doing__item:nth-child(3) {
		background-size: 60px 60px;
		padding-top: 75px;
	}
	.doing__item:last-child {
		background-size: 61px 61px;
		padding-top: 75px;
	}
	.email {
		flex-basis: 100%;
		margin-bottom: 25px;
	}
	.email ul {
    margin-top: 0;
	}
	.email a {
		font: 500 20px 'Roboto', sans-serif;
	}
	.doing__item p {
		font: 16px/24px 'Roboto', sans-serif;
		max-width: 250px;
	}
	.links a {
		font-size: 15px;
	}
	.copyright {
		font-size: 12px;
    padding: 20px;
	}
	.work__item:nth-child(2) {
		order: -1;
	}
	.work__item img {
		min-width: 280px;
    min-height: 250px;
		object-fit: cover;
		margin-bottom: 10px;
	}
	.work__item p {
		font-size: 18px;
	}
	.fa-phone-alt:before {
    background: linear-gradient(to right, #ff2f96, #ff2f96, #ff8f5a);
		background-clip: text;
		-webkit-background-clip: text;
	}
	.fa-envelope:before {
		background: linear-gradient(to bottom, #ff2f96, #ff2f96, #ff8f5a);
    background-clip: text;
		-webkit-background-clip: text;
	}
}